body {
	font-family: Verdana, Arial, sans-serif;
	font-size: 0.7em;
}

.axis path,.axis line {
	fill: none;
	stroke: #000;
	shape-rendering: crispEdges;
}

.dot {
	stroke: transparent;
}

div#wrapper {
	padding: 650px 0px 0px 200px;
}

div#title {
	position: absolute;
	top: 0px;
	left: 200px;
	height: 65px;
}

div#chart {
	position: absolute;
	left: 200px;
	top: 65px;
}

div#menu {
	position: absolute;
	top: 65px;
	left: 0px;
	width: 200px;
}

div#menu h3 {
	margin: 0px;
	padding: 0px;
	border-bottom: 1px dashed black;
}

div#menu ul {
	list-style: none;
	margin: 0px 0px 20px 0px;
	padding: 0px;
}

div#menu ul li {
	padding: 0px 0px 0px 20px;
	margin: 0px 0px 5px 15px;
	cursor: pointer;
}

div#menu ul li.selected {
	background: url("../images/checkmark.png") no-repeat;
	font-weight: bold;
}

div#menu ul a {
	text-decoration: none;
	color: black;
}

div#menu ul li:hover, div#menu ul li a:hover {
	text-decoration: underline;
}

div#year-slider {
	width: 900px;
}