<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:oxm="http://www.springframework.org/schema/oxm"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans.xsd">

	<import resource="db-config.xml" />
	
	<bean id="iesoDemandDAO" class="ca.uwaterloo.iss4e.demand.dao.ieso.ZonalDemandSummaryDAO">
		<constructor-arg name="dataSource" ref="iss4eDataSource" />
	</bean>

	<bean id="locationDAO" class="ca.uwaterloo.iss4e.weather.dao.LocationDAO">
		<constructor-arg name="dataSource" ref="iss4eDataSource" />
	</bean>

	<bean id="wundergroundObservationDAO"
		class="ca.uwaterloo.iss4e.weather.dao.WundergroundObservationDAO">
		<constructor-arg name="dataSource" ref="iss4eDataSource" />
	</bean>
</beans>